@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

textarea::-webkit-scrollbar {
  width: 7px;
}

textarea::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 25px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 25px;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@layer base {
  body {
    @apply bg-[#ebe3ea] text-[#131920] tracking-wide font-['Lato'] text-sm sm:text-sm;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }
  li {
    @apply cursor-pointer;
  }
  button,
  button[type="submit"] {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#2c24b6] to-[#2d0774] text-white;
  }

  a[data-set="goto-progect"] {
    @apply inline-flex shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#2c24b6] to-[#2d0774] text-white;
  }
}
